<!-- -*- mode: XML -*- -->
<launch>
  <!-- Change car name to match the name of the car, e.g. car1 -->
  <arg name="car_name" default="car" />
  <!-- Set to 1 if you want to run the map_server -->
  <arg name="map_server" value = "1" />


  <!-- Could be racecar-mit, racecar-uw-tx2, or racecar-uw-nano -->
  <arg name="racecar_version" default="racecar-uw-nano" />

  <!-- Use mocap published car pose instead of using odom -->
  <arg name="use_mocap" default="false" />

  <group ns="$(arg car_name)">

    <param name="robot_description"
           textfile="$(find mushr_description)/robots/$(arg racecar_version).urdf"/>

    <group ns="vesc">
         <include file="$(find vesc_main)/launch/vesc.launch">
             <arg name="racecar_version" value="$(arg racecar_version)" />
             <arg name="car_name" default="/$(arg car_name)" />
         </include>
    </group>

    <group ns="mux">
        <include file="$(find ackermann_cmd_mux)/launch/mux.launch" />
    </group>


    <include file="$(find jetson_csi_cam)/jetson_csi_cam.launch" >
        <arg name="width" value="1280"/>
        <arg name="height" value="720"/>
    </include>
    <node pkg= "fnf" type ="captureFlag.py" name="cptfnode" output="screen"/>


  </group>


</launch>